<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'sparkiy w10' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>925644e0-0772-4095-81f2-58023eeb201c</InstrumentationKey>
</ApplicationInsights>